body {
    font-family: 'Roboto Mono', monospace;
    min-height: 400px;
    background-image: url('https://image.flaticon.com/icons/png/512/201/201635.png');
    background-color: #000000;
    background-size: 80vh;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.container {
    text-align: center;
    padding: 20px;
    height: 55vh;
}

.page-title {
    color: #ffffff;
    margin: 0 0 5px;
}

.page-subtitle {
    color: #ffffff;
    margin-top: 5px;
}

.page-logo {
    width: 200px;
}

section {
    background: darkblue;
    border-radius: 10px;
    padding: 15px;
    width: 350px;
    margin: 0 auto;
    vertical-align: top;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.363);
}

#resultado {
    text-align: center;
    vertical-align: text-top;
    color: white;
    float: inline-start;
}

label {
    color: white;
    text-align: right;
}

input {
    padding: 5px 5px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    font-size: 22px;
}